.productImg{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImg >  img{
  width: 25%;
}

.seller{
  border: 1px solid red;
}

.profile{
  padding: 16px;
  margin-top: 8px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
}

.profile__avatar{
  width: 50px;
  height: 50px;
}

.profile__name{
  font-size: 15px;
  margin-left: 8px;
  font-weight: 600;
}

.contents{
  padding: 16px;
}

.contents__name{
  font-size: 20px;
  font-weight: 400;
}

.contents__price{
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.contents__createdAt{
  font-size: 12px;
  margin-top: 4px;
  color: rgb(204,204,204);
}

.contents__description{
  margin-top: 16px;
  font-size: 16px;
}

.contents__purchaseBtn{
  margin-top: 8px;
  margin-bottom: 16px;
}